
/* Navigation */
.Nav__Wrapper {
    position: fixed;
    width:100%;
    min-width: 100vw;
    background-color: #fff;
    min-height: 8rem;
    z-index: 10;
    top:0;
}

.Nav__Container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.Nav__Noline{
    text-decoration: none;
}

.Nav__Logo{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.2rem;
    color: #67A9FE;
    cursor:pointer;
}

.Nav__Container ul{
    list-Style: none;
}

.Nav__Container li{
    display: inline-block;
    padding: 0px 20px;
    
}

li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height:2.1rem;
    color: #545454;
    text-decoration: none;
}

.Nav__Link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height:2.1rem;
    color: #545454;
    text-decoration: none;
}

.Nav__Btn{
    padding: auto 4rem;
    border: 1px solid #67A9FE;
    border-radius: 1.5rem;
    margin-left: 3.8rem;
    height: 4.8rem;
    font-size: 1.4rem;
    width: 13.3rem;
    cursor: pointer;
    background-color: #fff;
    color: #67A9FE;
}

/* main section*/
.Main__Container{
    min-height:70rem;
    display: flex;
    background: linear-gradient(106.89deg, #E9F3F9 0.87%, rgba(239, 244, 247, 0) 100%);
    /*background-image: url('./images/Background1.jpg');
    background-size: 100% 100%;*/
} 

.Main__Left {
    width :90%;
    align-items: center;
    margin: 0 auto;
}

.Main__Judul{
    font-weight: 600;
    font-size: 6.4rem;
    margin-top: 20rem ;
    width: 52.2rem;
    height: 19rem;
    color: #383838;
}

/* #383838 */
.Main_Subjudul{
    font-weight: 400;
    font-size:1.4rem;
    color: #383838;
    width: 52.2rem;
    margin: 3rem 0;
}

.Main__Btn{
    padding: auto 4rem;
    color: #fff;
    background-color: #67A9FE ;
    border: 1px solid #67A9FE;
    border-radius: 1.5rem;
    height: 4.8rem;
    font-size: 1.4rem;
    width: 13.3rem;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Main_Link{
    text-decoration: none;
}

/*SearchBar */

.Searchbar__Container{
    height: 19.5rem;
    width: 90%;
    padding:1.3rem;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    border: 0.1rem solid transparent;
    border-radius:1rem;
    justify-content: space-between;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07);

}

.Searchbar__Headline{
    font-weight:500;
    font-size: 1.8rem;
    margin: auto 0;
}

.Searchbar__TeksAtas{
    margin-bottom: 0.8rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8px;
    color: #383838;
}

.Searchbar__Input{
    width: 29.2rem;
    height: 5.7rem;
    background-color: #fff;
    border: 0.1rem solid #DEDBDB ;
    border-radius: 1rem;
}

.Searchbar__Wrapper{
    margin: auto 0;
    
}

.Searchbar__btn{
    width: 9.6rem;
    height: 3.8rem;
    background-color: #67A9FE;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    margin-right: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
}

/* Categories */

.Title__Container{
    width: 90%;
    margin: 12rem auto 0 auto;
}

.Title__Container h1{
    text-align: center;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    
}

.Title__Container h2{
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1rem;
}

.Categories__Card__Container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    
}

.Categories__Card__Container Link{
    text-decoration: none;
    color: #4d4d4d;
}

.categories__Card__Catering{
    width: 36rem;
    height: 16rem;
    background-image:url('https://s3-alpha-sig.figma.com/img/8408/1310/bb934a156a6cd719c01820b1373f4550?Expires=1616371200&Signature=NwApS86mZj7DwCToZyZs-Apa1kO~OfuXT6SB3pHSoDWVz~6F3hK4hUSy18YrBwGhlKVdJsWuBuV-ZIeHDxvQY~JiEe57cDdOaxM6fsTfDJ0fa-cDfmH-9wKr-f-PWQ6QmVKGLBPM1-iQo66HgtGaNzbV0vqVIvIJi3UapF5FfgJjdV6mtvPQfwTHnhLuK6SYMiTvnUcZuRkJkBXe5tFpoj53yWjXbz5iFmZHZ9FtkAagC9ed40qfzZ6E2klHjRLZtPRRhoxtvRUWep~Y305lpKN520cbJJJOnAIOqGn38AnnjwCL7jVzjIPdjxsiHLLYzZXWJexQ6PXHAQPpWDsGOg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') ;
    background-size: 100%;
    background-position-y: -10px;
    margin:2.5rem ;
    border-radius: 1rem;
    text-decoration: none;
    color: #4d4d4d;
}

.categories__Card__Rental{
    width: 36rem;
    height: 16rem;
    background-image:url('https://s3-alpha-sig.figma.com/img/3023/237a/d3a914488e1f5768e1c9f5fa2332e05b?Expires=1616371200&Signature=HGLkCOSq-w4TGIwpKrHIq7Hm-DTA9088m6InP9IhzjC7oM~IY5Vh-z3o-c4F3mJ14j2R5qjcOWMtUZnLVMvA4-KcS-U6KvX~ADn1oqOfyyLuh0jU9lNdL~Qb9RTgpHn~Lqar2vfl2ELKpKmu5fLWuDOi6rjjowQbUGalHIVMVxoNR8Cmcieg-5MG69yJhxQ~Tz~SvbpDgcqvHfVO5T3IwubK1CdRPGfKGhFimWlk8JWUy3HEK6fpTV5rUWctzNaDRs3pYKOWvTB42mKjIaBWZo6DtG4w8g3QhrVIZrZ7MR9pNGXN30loeqRgF5ri~gC8GgDvma6I0k4NxTEK9yAWLQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') ;
    background-size: 100%;
    margin:2.5rem ;
    border-radius: 1rem;
    text-decoration: none;
    color: #fff;
}

.categories__Card__Decoration{
    width: 36rem;
    height: 16rem;
    background-image:url('https://s3-alpha-sig.figma.com/img/ca42/5248/8f15c17483f7511b70bb7f12246086b5?Expires=1616371200&Signature=fGwbSKmYJqy1NPpKYXjXb2QxwqhM2ROFk7p3GH7RfmklfnOuQqUmtAePKbzM3O8XiFTkCl24w-BTAaT01pDxwl1niYrw3z5JTdLtD2zAdapVY4g78zbWz0F3WkgFZ7wseEzrpskaTdRdkE27V2hdoNnQ31V4NkaWzQ-CROvcqxu2WfCkilR3EcvHcc2tZ6eq7L7-oSeJjqXWR0EcQiVm2iddTZpEkM0nNYlSXA4ox3cnpEOCHTESMJC9qxqTnewlD-77S5DZwR5l8qcx91wxP40VkFWflTF-KQuYVhagdci5XdKAcotC1KFr1gt7u4X74Gtg~BKhjMF~iym5hJcGsQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') ;
    background-size: 100%;
    background-position-y: -6rem;
    margin:2.5rem ;
    border-radius: 1rem;
    text-decoration: none;
    color: #fff;
}



.Link__Clear{
    text-decoration: none;
}
.categories_card__text{
    padding: 4rem 1rem;
    font-weight: 500;
    font-size: 2.4rem;
    margin: 9.5rem 0 0 1rem;
    width:min-content;
    text-decoration: none;
    color: #fff;
    
}

.Card__Container{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2rem;
    width: 90%;
    margin: 0 auto 6rem auto;
    text-decoration: none;
}

.Title__Container h1{
    margin-bottom: 1.6rem;
    text-decoration: none;
}

.Title__Container h2{
    margin-bottom: 5.3rem;
    text-decoration: none;
}

.Cards {
    margin-top: 1rem;
    box-shadow: 1px 1px 10px rgba(196, 196, 196, 0.25);
    height: 33.6rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #383838;
    
}
.Cards__Foto{
    margin: 0 auto;
    width: 90%;
    
}

.Cards__Foto img{
    border-radius:1rem ;
    width: 100%;
}

.Cards__Deskripsi{
    width: 90%;
    margin: 1.5rem auto;
}

.Cards__Footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Cards__Footer__Left h3{
    font-weight: 300;
    font-size: 1rem;
}

.Cards__Footer__Left h2{
    font-weight: 600;
    
}

.Cards__Footer button{
    height: 4rem;
    width: 4rem;
    margin: auto 0;
    background-color: #67A9FE;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: #fff;
    font-size: 2.4rem;
}



.View__Container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    
}

.View__all{
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #67A9FE;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-color: transparent;
    
}

.PopularBtn{
    margin: 0 auto;

}


/*Konsul Info section*/

.Konsul__Container{
    width: 90%;
    margin: 15rem auto;
    height: 30.8rem;
    background-color: #EFF4F7;
    border-radius: 1rem;
    display: flex;
}

.Konsul__Left{
    flex: 2;
    margin: auto;
    align-items: center;
    
}

.Konsul__Left h1{
    font-weight: 600;
    font-size: 3.2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 55.2rem;
    margin-left: 8rem;
}

.Konsul__Left p{
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 55.2rem;
    margin-left: 8rem;
    color: #383838;
 }

.Konsul__Right{
    flex: 1;
    margin: auto;
}

.Konsul__Right button{
    background-color: #67A9FE;
    color:#fff;
    width: 32rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
}


/* Know More about us*/
.KnowMore{
    width: 90%;
    display: flex;
    margin: 0 auto;
    height: 38.5rem;
    margin-bottom: 15rem;
}

.KnowMore__Left{
    width: 40%;
}

.KnowMore__Right{
    width:40%;
    margin-left: 2rem;
    border-radius: 1rem;
    align-items: center;
    
}

.KnowMore__Right img{
    flex: 1;
    margin-left: 2rem;
    border-radius: 1rem;
    width: 100%;
    
    
}


.KnowMore__Left h1{
    font-weight: 600;
    font-size: 3.2rem;
    padding-bottom: 1rem;
    margin: 1rem auto;
    width: 32.1rem;
    margin-left: 1rem;
}

.KnowMore__Left p{
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 36rem;
    margin-left: 1rem;
    color: #383838;
    margin-bottom: 5rem;

}

.KnowMore__Left button{
    background-color: #67A9FE;
    color: #fff;
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
    margin-left: 1rem ;
    border: 1px solid transparent;
}

/* Login Page & Signup*/ 
.Form__Container{
    max-height: 76.8rem;
    margin: 0 auto;
    align-items: center; 
    padding: 4rem;
}

.Form__Container h1 {

    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: #000;
    text-align: center;
    margin: 1rem auto;
    width: 40%;
   
}

.Form__Wrapper{
    width: 80%;
    margin: 5rem auto;
    height: 50rem;
    display: flex;
    
    
}

.FormLeft__Wrapper{
    width: 50%;
   
    
}

.FormLeft__Wrapper h2{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 48.rem;
    width: 41.6rem;
    height: 9.6rem;
    margin: 1rem auto;
}

.Form__Right{
    width: 50%;
    
}

.Form__Circle{
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 auto;
}


.Form__Box{
    width: 38.7rem;
    height: 45.5rem;
    border: 0.1px solid #D6D6D6;
    box-sizing: border-box;
    box-shadow: 0px 0.1rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin: 0 auto;
}

.Form__fillWrapper{
    width: 78%;
    height: 45.5rem;
    margin: 5rem auto;
}

.Form__Display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    
}

.Form__Display h3{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
}


.Form__Daftar__Btn{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000;
    height: 3.9rem;
   margin: auto 0;
   text-decoration: none;
}

.Form__TextInput{
    margin-bottom: 2rem;
}

.Form__TextInput p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.Form__Input{
    width: 28.7rem;
    height: 3.6rem;
    border: 0.1rem solid #000000;
    box-sizing: border-box;
    border-radius: 0.5rem;
    
}

.Form__Button{
    width: 28.7rem;
    height: 4.5rem;
    background: #C4C4C4;
    border-radius: 0.5rem;
}

.Form__ForgetPass{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000;
    height: 3.9rem;
   margin: auto 0;
   text-decoration: none;
   text-align: end;
}

.Form__Display_Signup{
    margin-bottom: 3rem;
}

.Form__Display_Signup h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
}

.Form__Display_Signup h3{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
}

/* Category header product list page*/

.Category__Header__Container{
    
    margin-top: auto;
    background-color: #E9F3F9;
    width: 100%;
    height: 32.4rem;
    margin-top: 10rem;
    padding: 1rem 12rem;
}


.Category__Name__Box {
    width: 50%;
    margin:20rem ;
}



.Category__Name__Header {
    font-weight: 600;
    height: 18rem;
    width: min-content;
    font-size: 60px;
    line-height: 90px;
    margin: 6rem;
}


/*Searchbar di Product list */

.Searchbar__Product__Container{
    margin: 6rem;
    width: 50%;
    height: 6rem;
    display: flex;
    align-items: flex-end;
    
}
.Searchbar__flex{
    float: right;
   
}

.Searchbar__Product__Wrapper{
    margin: auto 2rem;
}

.Searchbar__Product__TeksAtas{
    font-weight: 400;
    font-size: 1.2rem;
    color: #4d4d4d;
    line-height: 1.8rem;
}

.Searchbar__Product__Input{
    width: 19.3rem;
    height: 3.8rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.Page__Number__Container{
    margin: 6rem auto;
    width: 50%;

    
}

.Page__Number__Wrapper{
width: 30rem;
margin: 0 auto;
text-align: center;

}

.Page__Number{
    width: 4.7rem;
    height: 4.7rem;
    border: 0.1rem solid #000000;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 0 1.1rem;

    
}

.Category__Small__Wrapper{
    background-color: #E9F3F9;
    margin-top: 10rem;
    height: 9.6rem;

    
}

.Category__Small__Container{
    width: 90%;
    margin: 0 auto;
    
}

.Category__Small__Container button{
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    background-color: #E9F3F9;
    border: 1px solid transparent;
}

/* Detail item */

.DetailMain__Wrapper{
    width: 90%;
    display:inline;
    

}

.DetailMain__Container{
    width: 90%;
    display:flex;
    margin: 0 auto;
    margin-top: 8rem;;
}

.DetailMain__Left{
    width: 50%;
    height: 45.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 6rem ;
}


.DetailMain__BigPict{
    margin: 0 auto;
    width: 52rem;
    height: 32.2rem;
    
    background-size: 100%;
   
}

.DetailMain__BigPict img{
    margin: 0 auto;
    height: 32rem;
    border-radius:0.5rem;
}

.DetailMain__SmallContainer{
    height: 10.6rem;
    display: flex;
    margin: 0 auto;
   
}

.DetailMain__SmallPict{
    height: 10.6rem;
    width: 16.7rem;
    border-radius:0.5rem;
    background-image: url('https://s3-alpha-sig.figma.com/img/6b57/b170/158b0b17a359ed6cc29f35f0c006f6db?Expires=1616371200&Signature=PBf~cCYHWOnv44tF38zSic1vCD0gfQ9wh6R~QmAfLr1t17xq9f4bzb5T4qLKojDPepfAo6DIYIeOn2PCNfR24RptEDoa7pqIwhFyG4cNE-2TG0JMhBJPWb-S6iIbp~pc-mvZBWsWNO0vdNMFiHVafdtKA7y7j1uc3nbThQcL1YSiS6dZ7rAbxwXkU8TnswVGKO7ki4exx0Gw8RawGTAFZ0QiI~D~JKR7nloG1jSmr~Y-t4zOu1KPOTHnM9oqiuZlwcekcAQH92Lg8i-nazBia962o-PH77W4QSWnI-lwk392lyjA9xj9l1OxuqkgXPKCmM54pJZ5R-mctcovHiZFRQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-size: cover;
    margin: 1rem;
    margin-left: 0;
}

.DetailMain__BigContainer{
    margin: 0 auto;
}

.DetailMain__ItemName h1{
    font-size: 4.8rem;
    font-weight: 600;
}

.DetailMain__DataItem{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.DetailMain__DataItem p{
font-size: 1.8rem;
}

.DetailMain__Right{
    width: 80%;
}

.DetailMain__Rating{
    width: 8.4rem;
    height: 4rem;
    background-color: #F0DB17 ;
    padding-top: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0.6rem;
}

.DetailMain_Date__Wrapper{
    margin: 1rem 0;
    margin-right: 1.5rem;
}

.DetailMain_Date__Wrapper h4{
 font-size: 1.8rem;
}

.DetailMain_Date__Wrapper input{
    width: 15rem;
    height: 5rem;
    background-color: #E9F3F9;
    border-radius: 1rem;
    border-color: transparent;
    font-size: 1.8rem;
}

.DetailMain__DateQuantity__Container{
    display: flex;
}

.DetailMain_Quantity__Wrapper{
    margin: 1rem 0;
    margin-right: 1.5rem;
}

.DetailMain_Quantity__Wrapper h4{
    font-size: 1.8rem;
}

.DetailMain_Quantity__Wrapper input{
    background-color: #E9F3F9;
    width: 9.6rem;
    height: 4.9rem;
    font-size: 1.8rem;
}

.Harga__TambahBarang{
    display: flex;
    justify-content: space-between;
}

.Harga__TambahBarang h1{
    font-size:2.8rem;
    font-weight: 600;
}

.Harga__TambahBarang button{
    height: 5.3rem;
    width: 18.4rem;
    background-color: #67A9FE;
    color: #fff;
    border-radius: 1rem;
    border-color: transparent;
}